{:deps
 {grafter/vocabularies {:mvn/version "0.3.8"}}

 :aliases
 {:test
  {:extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.887"}
    com.lambdaisland/kaocha-cljs {:mvn/version "1.0.113"}}
   :extra-paths ["test"]}}}
