{:deps
 {io.github.swirrl/grafter.repository {:mvn/version "3.0.0"}
  selmer/selmer {:mvn/version "1.12.50"}}

 :aliases
 {:test
  {:extra-deps
   {lambdaisland/kaocha {:mvn/version "1.69.1069"}
    com.lambdaisland/kaocha-cljs {:mvn/version "1.1.118"}}
   :extra-paths ["test"]}}}
